.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
td[colspan="2"] {
    text-align: center;
}
td[colspan="3"] {
    text-align: center;
}
 /* unvisited link */
a:link {
  color: White;
}

/* visited link */
a:visited {
  color: White;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: White;
}
a:link {
  text-decoration: none;
}

